{
  "root": true,
  "extends": [
    "standard-with-typescript",
    "standard-jsx",
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": [
    "/dist"
  ]
}